.mat-drawer-container {
    position: fixed;
    top:0;
    width: 100%;
    bottom: 0;
  }

  ul {
    list-style: outside none none;
  }

  
  a {
    color: white;
    text-decoration: none; /* no underline */
  }


  .mat-drawer-content{
    text-align: center;
  }