
<mat-drawer-container autosize>
    <mat-drawer id="menuLateral" mode="side" opened> 
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title> {{ infoUser.NomeUsuario }} </mat-card-title>
                    <mat-card-subtitle> {{ infoUser.Cargo }} </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    
    <mat-divider></mat-divider>
  <!--
    <mat-tree [dataSource]="dataSource" [treeControl]="controleMenuExpansivo">

    </mat-tree>
 -->
    <ul>
        <div *ngFor="let item of this.infoUser.dadosArvore">
            <mat-card>
                <mat-card-title> {{ item.node }} </mat-card-title>
            </mat-card>
            <li *ngFor="let node of item.childs">
                <a style="cursor: pointer;" id="buttonLink" (click)="scrollToElement(node.href)"> {{ node.Description }} </a>  
                 <br/><br/>
            </li>
        </div>
    </ul>    

    </mat-drawer>   

    <mat-drawer-content>
            <Inicial-angular></Inicial-angular>
            <tagTeste></tagTeste>
            <interpolacao></interpolacao>
            <BInterpolacao></BInterpolacao>
            <ClassBiding></ClassBiding>
            <event-biding></event-biding>
            <dt-biding></dt-biding>
            <input-properties></input-properties>
            <output-properties></output-properties>
         
    </mat-drawer-content>

</mat-drawer-container>

