
<mat-drawer-container autosize>
    <mat-drawer mode="side" opened> 
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <img id="img_ico" width="50px" [src]="infoUser.UrlFoto"/>
                </div>
                <mat-card-title> {{ infoUser.NomeUsuario }} </mat-card-title>
                    <mat-card-subtitle> {{ infoUser.Cargo }} </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    
    <mat-divider></mat-divider>
  <!--
    <mat-tree [dataSource]="dataSource" [treeControl]="controleMenuExpansivo">

    </mat-tree>
 -->
    <div  *ngFor="let item of this.infoUser.dadosArvore">
        <a class="titleMenu">{{ item.node }}</a> &nbsp; &nbsp;
        <mat-divider></mat-divider>
            <br/>
            <ul *ngFor="let node of item.childs">
                <li>
                    <a class="items_menu" [id]="'buttonLink_'.toString() + node.href.toString()" (click)="scrollToElement(node.href)">
                            {{ node.Description }}
                     </a>  
                     <br/><br/>
                </li>
            </ul>
    </div>    

    </mat-drawer>   

    <mat-drawer-content (scroll)="ValidaScroll($event)">
        <tagTeste></tagTeste>
         <Inicial-angular></Inicial-angular>
          <AnotacoesInfo></AnotacoesInfo>   
          <estrutura-inicial></estrutura-inicial>
            <AnotacoesModulos></AnotacoesModulos>
            <AnotacoesServices></AnotacoesServices>
            <AngularCLI></AngularCLI>
            <AnotacoesTemplate></AnotacoesTemplate>
            <interpolacao></interpolacao>
            <Anotacoes-biding-interpolacao></Anotacoes-biding-interpolacao>
            <BInterpolacao></BInterpolacao>
            <AnotationClassBiding></AnotationClassBiding>
            <ClassBiding></ClassBiding>
            <Annotation-event-biding></Annotation-event-biding>
            <event-biding></event-biding>
            <AnnotationDtBiding></AnnotationDtBiding>
            <dt-biding></dt-biding>
            <input-properties-annotation></input-properties-annotation>
            <input-properties></input-properties>
            <outputAnotation></outputAnotation>
            <output-properties (Emmiter)="mostraEstadoFilho($event)"></output-properties>
            <Annotation-life-cicle></Annotation-life-cicle>
            <life-cicle-example></life-cicle-example>
            <AnnotationViewChild></AnnotationViewChild>
            <Example_child_component></Example_child_component>

            <button  matTooltip="Ir para o topo" *ngIf="buttonVisible" (click)="scrollToElement('img_icon')" id="f_button" mat-fab color="warn" >
                <mat-icon>eject</mat-icon>
            </button>

    </mat-drawer-content>

</mat-drawer-container>

