
<mat-drawer-container>
    <mat-drawer mode="side" opened> 
    
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title > {{ NomeUsuario }} </mat-card-title>
                <mat-card-subtitle> {{ Cargo }} </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    
    <mat-divider></mat-divider>


    </mat-drawer>   

    <mat-drawer-content>
        Main content
    </mat-drawer-content>

</mat-drawer-container>

