
     <h2 id="#EB"> Event Biding  </h2>
     
     <button mat-button color="warn" (click)="msgBotao()">Me clique</button>
     <br/>
     <br/>

     <h1 [style.color]="this.validaText == true ? 'blue' : 'red' " >{{ this.validaText == true ? "Validado !" : "Campo precisa ser maior ou igual a " + this.tamanhoMaximo   }}</h1>

     <mat-form-field class="example-full-width">
      <mat-label>Texto Digitado </mat-label>
      <input matInput placeholder="Algum texto" (keyup)="validaMsg($event)">
    </mat-form-field>
    
    
     
     <br/>
     <br/>

     <mat-divider></mat-divider>
     <br/>