<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
           Exemplo {{ diretiva | titlecase }}
        </mat-panel-title>
     <mat-panel-description>
     </mat-panel-description>
    </mat-expansion-panel-header>

    <br/>
    <br/>
    <h2> Exemplo {{ diretiva | titlecase }} </h2>

    <div [ngStyle]=' {
        "background-color":detailsComponent.Color,
        "width": detailsComponent.width + "px",
        "height": detailsComponent.height + "px",
        "color" : detailsComponent.font_color,
        "font-size" :detailsComponent.font_size +  "px"
    }'> {{ descricaoTeste }} </div> <br/>
    
    <mat-grid-list cols="10">
        <mat-grid-tile colspan="3">

        <mat-form-field appearance="fill">
            <mat-label>Background-color :</mat-label>
            <mat-select matSelect  id="selectCores" [(ngModel)]="detailsComponent.Color">
                <mat-option [ngStyle]="{ 'background-color':cores.value }" *ngFor="let cores of DadosDropListCores"  [value]="cores.value"> {{ cores.description }} </mat-option>
            </mat-select>
        </mat-form-field>

        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <mat-form-field class="example-full-width">
                <mat-label>Width</mat-label>
                <input matInput type="number" [(ngModel)]="detailsComponent.width" placeholder="Width" >
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <mat-form-field class="example-full-width">
                <mat-label>Height</mat-label>
                <input matInput type="number" [(ngModel)]="detailsComponent.height" placeholder="Height" >
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <mat-form-field class="example-full-width">
                <mat-label>Font Size</mat-label>
                <input matInput type="number" [(ngModel)]="detailsComponent.font_size" placeholder="Font Size" >
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">

            
        <mat-form-field appearance="fill">
            <mat-label> Font Color </mat-label>
            <mat-select matSelect  id="selectCoresFont" [(ngModel)]="detailsComponent.font_color">
                <mat-option [ngStyle]="{ 'background-color':cores.value }" *ngFor="let cores of DadosDropListCores"  [value]="cores.value"> {{ cores.description }} </mat-option>
            </mat-select>
        </mat-form-field>
        </mat-grid-tile>
        
    </mat-grid-list>

</mat-expansion-panel>

<mat-divider></mat-divider>
