
<h2 id="#TWDB">Two way data biding </h2>

<section>
    <article>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Campo Data Biding </mat-label>
                <input matInput placeholder="Teste Data Biding" [(ngModel)]="textoDataBiding" >
              </mat-form-field>
              <h1> {{ textoDataBiding }} </h1>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label> Nome </mat-label>
                <input matInput placeholder="Nome" [(ngModel)]="dados.nome">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label> Sobrenome </mat-label>
                <input matInput placeholder="Sobrenome" [(ngModel)]="dados.sobrenome">
              </mat-form-field>

              <h1>Meu nome é {{ dados.nome }} e meu sobrenome é {{ dados.sobrenome }}</h1>

        </div>

    </article>
</section> 

<mat-divider></mat-divider>