<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
           Exemplo Biding e Interpolação
        </mat-panel-title>
     <mat-panel-description>
     </mat-panel-description>
    </mat-expansion-panel-header>

    <br/>
    <br/>
    <h2> BIDING E INTERPOLAÇÕES </h2>
    
     Imagem via biding <br/> 
     <img [src]="urlImg">
    
     <br/>
     <br/>
    
     Imagem via interpolação <br/>
     <img src="{{ urlImg }}">
     <br/>
     <br/>


</mat-expansion-panel>

<mat-divider></mat-divider>
